.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 24, 191);
    padding: 10px 20px;
    /* margin-bottom: 20px; */
}

.navTitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.navTitle img{
    height: 24px;
    width: 24px;
    margin-top: 5px;
}

.navbar .logoutBtn {
    color: white !important;
    padding-right: 40px;
}

.filterMenu{
    width: 200px; 
    min-width: 150px; 
}